@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Booking System</h1><br>

    <div>Click Booking to reserve rooms for meeting.</div><br>
    <div>Click MyBooking to check your booking.</div><br>
</div>
